{% set title = "NVIDIA Deep Learning Accelerator" %}
{% set embedded = true %}

{% extends "layout.html" %}

{% block body %}

<div class="section">
<!--  <header>-->
    <h1>Get the latest NVDLA news.</h1>

    <p class="bigger"> Sign up for developer news, announcements, and more
    from NVIDIA.</p>
    
    <script src="https://app-sj14.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_5381"></form>
    <script>MktoForms2.loadForm("https://app-sj14.marketo.com", "156-OFN-742", 5381);</script>
    <div id="confirmform" style="visibility:hidden;"><p><strong>Thank you. Please check your email for details on your request.</strong></p></div>
    <p></p>
</div>
{% endblock body %}
